# SwiftPM build artifacts
.build/

# Xcode
DerivedData/
*.xcworkspace
xcuserdata/

# CocoaPods / Carthage
Pods/
Carthage/Build/
Dependencies/
.accio/

# Fastlane screenshots/logs
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store

# Python / Env (если есть)
__pycache__/
.env
.venv/
